<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/9553b08d0f.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="form-wrapper">
		<div class="form">
			{% block form %}{% endblock %}
		</div>
	</div>
	<script src="assets/js/auth.js"></script>
</body>
</html>